.feynman {
  background-color: #f2f2f2;
  background-image: url('../../images/feinman.png');
  background-size: 867px 637px;
  background-position: left bottom;
  min-height: 890px;
  background-repeat: no-repeat;
  padding-top: 100px;
  position: relative;
  box-sizing: border-box;
}
